<a href="https://colab.research.google.com/github/DannyData1419/CM3704-Business-Ideas-Opportunities/blob/main/04_Data_Manipulation_with_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Manipulation with dplyr**
*   **Transforming Data with dplyr**

Learn verbs you can use to transform your data, including select, filter, arrange, and mutate. You'll use these functions to modify the counties dataset to view particular observations and answer questions about the data.
*   **Aggregating Data**

Now that you know how to transform your data, you'll want to know more about how to aggregate your data to make it more interpretable. You'll learn a number of functions you can use to take many observations in your data and summarize them, including count, group_by, summarize, ungroup, and top_n.

*   **Selecting and Transforming Data**

Learn advanced methods to select and transform columns. Also learn about select helpers, which are functions that specify criteria for columns you want to choose, as well as the rename and transmute verbs.
*   **Case Study: The babynames Dataset**

Work with a new dataset that represents the names of babies born in the United States each year. Learn how to use grouped mutates and window functions to ask and answer more complex questions about your data. And use a combination of dplyr and ggplot2 to make interesting graphs to further explore your data.

## **Transforming Data with dplyr**
Learn verbs you can use to transform your data, including select, filter, arrange, and mutate. You'll use these functions to modify the counties dataset to view particular observations and answer questions about the data.

In [72]:
# Install required packages
required_Packages_Install <- c("dplyr", "ggplot2", "babynames")

for(Package in required_Packages_Install){
  if(!require(Package, character.only=TRUE)) {
    install.packages(Package, dependencies=TRUE)
  }
  library(Package, character.only=TRUE)
}

# Load the dplyr, ggplot2, babynames libraries
library(dplyr)
library(ggplot2)
library(babynames)

In [73]:
# Import data from github repo
counties <- read.csv(url("https://raw.githubusercontent.com/DannyData1419/Dataset-stash/main/counties.csv"))

# View head
head(counties)

  census_id state   county  region metro    population men   women hispanic
1 1001      Alabama Autauga South  Metro     55221     26745 28476 2.6
2 1003      Alabama Baldwin South  Metro    195121     95314 99807 4.5
3 1005      Alabama Barbour South  Nonmetro  26932     14497 12435 4.6
4 1007      Alabama Bibb    South  Metro     22604     12073 10531 2.2
5 1009      Alabama Blount  South  Metro     57710     28512 29198 8.6
6 1011      Alabama Bullock South  Nonmetro  10678      5660  5018 4.4
  white ⋯ other_transp work_at_home mean_commute employed private_work
1 75.8  ⋯ 1.3          1.8          26.5         23986    73.6
2 83.1  ⋯ 1.4          3.9          26.4         85953    81.5
3 46.2  ⋯ 1.5          1.6          24.1          8597    71.8
4 74.5  ⋯ 1.5          0.7          28.8          8294    76.8
5 87.9  ⋯ 0.4          2.3          34.9         22189    82.0
6 22.2  ⋯ 1.7          2.8          27.5          3865    79.5
  public_work self_employed family_work unemployment land_area
1 20.9        5.5           0.0          7.6          594.44
2 12.3        5.8           0.4          7.5         1589.78
3 20.8        7.3           0.1         17.6          884.88
4 16.1        6.7           0.4          8.3          622.58
5 13.5        4.2           0.4          7.7          644.78
6 15.1        5.4           0.0         18.0          622.81

### Understanding your data
Take a look at the counties dataset using the glimpse() function.

What is the first value in the income variable?

In [74]:
glimpse(counties)

Rows: 3,138
Columns: 40
$ census_id          <int> 1001, 1003, 1005, 1007, 1009, 1011, 1013, 1015, 101…
$ state              <chr> "Alabama", "Alabama", "Alabama", "Alabama", "Alabam…
$ county             <chr> "Autauga", "Baldwin", "Barbour", "Bibb", "Blount", …
$ region             <chr> "South", "South", "South", "South", "South", "South…
$ metro              <chr> "Metro", "Metro", "Nonmetro", "Metro", "Metro", "No…
$ population         <int> 55221, 195121, 26932, 22604, 57710, 10678, 20354, 1…
$ men                <int> 26745, 95314, 14497, 12073, 28512, 5660, 9502, 5627…
$ women              <int> 28476, 99807, 12435, 10531, 29198, 5018, 10852, 603…
$ hispanic           <dbl> 2.6, 4.5, 4.6, 2.2, 8.6, 4.4, 1.2, 3.5, 0.4, 1.5, 7…
$ white              <dbl> 75.8, 83.1, 46.2, 74.5, 87.9, 22.2, 53.3, 73.0, 57.…
$ black              <dbl> 18.5, 9.5, 46.7, 21.4, 1.5, 70.7, 43.8, 20.3, 40.3,…
$ native             <dbl> 0.4, 0.6, 0.2, 0.4, 0.3, 1.2, 0.1, 0.2, 0.2, 0.6, 0…
$ asian              <dbl> 1.0, 0.7, 0.4, 0.1, 0.1, 0.2, 0.4, 0.9, 0.8, 0.3, 0…
$ pacific            <dbl> 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0…
$ citizens           <int> 40725, 147695, 20714, 17495, 42345, 8057, 15581, 88…
$ income             <int> 51281, 50254, 32964, 38678, 45813, 31938, 32229, 41…
$ income_err         <int> 2391, 1263, 2973, 3995, 3141, 5884, 1793, 925, 2949…
$ income_per_cap     <int> 24974, 27317, 16824, 18431, 20532, 17580, 18390, 21…
$ income_per_cap_err <int> 1080, 711, 798, 1618, 708, 2055, 714, 489, 1366, 15…
$ poverty            <dbl> 12.9, 13.4, 26.7, 16.8, 16.7, 24.6, 25.4, 20.5, 21.…
$ child_poverty      <dbl> 18.6, 19.2, 45.3, 27.9, 27.2, 38.4, 39.2, 31.6, 37.…
$ professional       <dbl> 33.2, 33.1, 26.8, 21.5, 28.5, 18.8, 27.5, 27.3, 23.…
$ service            <dbl> 17.0, 17.7, 16.1, 17.9, 14.1, 15.0, 16.6, 17.7, 14.…
$ office             <dbl> 24.2, 27.1, 23.1, 17.8, 23.9, 19.7, 21.9, 24.2, 26.…
$ construction       <dbl> 8.6, 10.8, 10.8, 19.0, 13.5, 20.1, 10.3, 10.5, 11.5…
$ production         <dbl> 17.1, 11.2, 23.1, 23.7, 19.9, 26.4, 23.7, 20.4, 24.…
$ drive              <dbl> 87.5, 84.7, 83.8, 83.2, 84.9, 74.9, 84.5, 85.3, 85.…
$ carpool            <dbl> 8.8, 8.8, 10.9, 13.5, 11.2, 14.9, 12.4, 9.4, 11.9, …
$ transit            <dbl> 0.1, 0.1, 0.4, 0.5, 0.4, 0.7, 0.0, 0.2, 0.2, 0.2, 0…
$ walk               <dbl> 0.5, 1.0, 1.8, 0.6, 0.9, 5.0, 0.8, 1.2, 0.3, 0.6, 1…
$ other_transp       <dbl> 1.3, 1.4, 1.5, 1.5, 0.4, 1.7, 0.6, 1.2, 0.4, 0.7, 1…
$ work_at_home       <dbl> 1.8, 3.9, 1.6, 0.7, 2.3, 2.8, 1.7, 2.7, 2.1, 2.5, 1…
$ mean_commute       <dbl> 26.5, 26.4, 24.1, 28.8, 34.9, 27.5, 24.6, 24.1, 25.…
$ employed           <int> 23986, 85953, 8597, 8294, 22189, 3865, 7813, 47401,…
$ private_work       <dbl> 73.6, 81.5, 71.8, 76.8, 82.0, 79.5, 77.4, 74.1, 85.…
$ public_work        <dbl> 20.9, 12.3, 20.8, 16.1, 13.5, 15.1, 16.2, 20.8, 12.…
$ self_employed      <dbl> 5.5, 5.8, 7.3, 6.7, 4.2, 5.4, 6.2, 5.0, 2.8, 7.9, 4…
$ family_work        <dbl> 0.0, 0.4, 0.1, 0.4, 0.4, 0.0, 0.2, 0.1, 0.0, 0.5, 0…
$ unemployment       <dbl> 7.6, 7.5, 17.6, 8.3, 7.7, 18.0, 10.9, 12.3, 8.9, 7.…
$ land_area          <dbl> 594.44, 1589.78, 884.88, 622.58, 644.78, 622.81, 77…

### Selecting columns
Select the following four columns from the counties variable:

*   state
*   county
*   population
*   poverty

You don't need to save the result to a variable.

In [75]:
head(counties %>%
  select(state, county, population, poverty))

  state   county  population poverty
1 Alabama Autauga  55221     12.9
2 Alabama Baldwin 195121     13.4
3 Alabama Barbour  26932     26.7
4 Alabama Bibb     22604     16.8
5 Alabama Blount   57710     16.7
6 Alabama Bullock  10678     24.6

### Arranging observations
Here you see the `counties_selected` dataset with a few interesting variables selected. These variables: `private_work`, `public_work`, `self_employed` describe whether people work for the government, for private companies, or for themselves.

In these exercises, you'll sort these observations to find the most interesting cases.

In [76]:
counties_selected <- counties %>%
  select(state, county, population, private_work, public_work, self_employed)

head(counties_selected %>%
  # Add a verb to sort in descending order of public_work
  arrange(desc(public_work)))

  state        county                     population private_work public_work
1 Hawaii       Kalawao                      85       25.0         64.1
2 Alaska       Yukon-Koyukuk Census Area  5644       33.3         61.7
3 Wisconsin    Menominee                  4451       36.8         59.1
4 North Dakota Sioux                      4380       32.9         56.8
5 South Dakota Todd                       9942       34.4         55.0
6 Alaska       Lake and Peninsula Borough 1474       42.2         51.6
  self_employed
1 10.9
2  5.1
3  3.7
4 10.2
5  9.8
6  6.1

### Filtering for conditions
You use the filter() verb to get only observations that match a particular condition, or match multiple conditions.

In [77]:
counties_selected <- counties %>%
  select(state, county, population)

head(counties_selected %>%
  # Filter for counties with a population above 1000000
  filter(population > 1000000))

  state      county       population
1 Arizona    Maricopa      4018143
2 California Alameda       1584983
3 California Contra Costa  1096068
4 California Los Angeles  10038388
5 California Orange        3116069
6 California Riverside     2298032

In [78]:
head(counties_selected %>%
  # Filter for counties with a population above 1000000
  filter(population > 1000000, state == "California"))

  state      county       population
1 California Alameda       1584983
2 California Contra Costa  1096068
3 California Los Angeles  10038388
4 California Orange        3116069
5 California Riverside     2298032
6 California Sacramento    1465832

### Filtering and arranging
We're often interested in both filtering and sorting a dataset, to focus on observations of particular interest to you. Here, you'll find counties that are extreme examples of what fraction of the population works in the private sector.

In [79]:
counties_selected <- counties %>%
  select(state, county, population, private_work, public_work, self_employed)

# Filter for Texas and more than 10000 people; sort in descending order of private_work
head(counties_selected %>%
  # Filter for Texas and more than 10000 people
  filter(state == "Texas", population > 10000) %>%
  # Sort in descending order of private_work
  arrange(desc(private_work)))

  state county  population private_work public_work self_employed
1 Texas Gregg    123178    84.7          9.8        5.4
2 Texas Collin   862215    84.1         10.0        5.8
3 Texas Dallas  2485003    83.9          9.5        6.4
4 Texas Harris  4356362    83.4         10.1        6.3
5 Texas Andrews   16775    83.1          9.6        6.8
6 Texas Tarrant 1914526    83.1         11.4        5.4

### Calculating the number of government employees
In the video, you used the unemployment variable, which is a percentage, to calculate the number of unemployed people in each county. In this exercise, you'll do the same with another percentage variable: public_work.

The code provided already selects the state, county, population, and public_work columns.

In [80]:
counties_selected <- counties %>%
  select(state, county, population, public_work)

head(counties_selected %>%
  # Add a new column public_workers with the number of people employed in public work
  mutate(public_workers = public_work * population / 100) %>%
  # Sort in descending order of the public_workers column
  arrange(desc(public_workers)))

  state      county      population public_work public_workers
1 California Los Angeles 10038388   11.5        1154414.6
2 Illinois   Cook         5236393   11.5         602185.2
3 California San Diego    3223096   14.8         477018.2
4 Arizona    Maricopa     4018143   11.7         470122.7
5 Texas      Harris       4356362   10.1         439992.6
6 New York   Kings        2595259   14.4         373717.3

### Calculating the percentage of women in a county
The dataset includes columns for the total number (not percentage) of men and women in each county. You could use this, along with the population variable, to compute the fraction of men (or women) within each county.

In this exercise, you'll select the relevant columns yourself.

In [81]:
counties_selected <- counties %>%
  # Select the columns state, county, population, men, and women
  select(state, county, population, men, women)

head(counties_selected %>%
  # Calculate proportion_women as the fraction of the population made up of women
  mutate(proportion_women = women /population))

  state   county  population men   women proportion_women
1 Alabama Autauga  55221     26745 28476 0.5156734
2 Alabama Baldwin 195121     95314 99807 0.5115134
3 Alabama Barbour  26932     14497 12435 0.4617184
4 Alabama Bibb     22604     12073 10531 0.4658910
5 Alabama Blount   57710     28512 29198 0.5059435
6 Alabama Bullock  10678      5660  5018 0.4699382

### Select, mutate, filter, and arrange
In this exercise, you'll put together everything you've learned in this chapter (select(), mutate(), filter() and arrange()), to find the counties with the highest proportion of men.

In [82]:
head(counties %>%
  # Select the five columns
  select(state, county, population, men, women) %>%
  # Add the proportion_men variable
  mutate(proportion_men = men /population) %>%
  # Filter for population of at least 10,000
  filter(population > 10000) %>%
  # Arrange proportion of men in descending order
  arrange(desc(proportion_men)))

  state      county         population men   women proportion_men
1 Virginia   Sussex         11864       8130  3734 0.6852664
2 California Lassen         32645      21818 10827 0.6683412
3 Georgia    Chattahoochee  11914       7940  3974 0.6664428
4 Louisiana  West Feliciana 15415      10228  5187 0.6635096
5 Florida    Union          15191       9830  5361 0.6470937
6 Texas      Jones          19978      12652  7326 0.6332966

## **Aggregating Data**
Now that you know how to transform your data, you'll want to know more about how to aggregate your data to make it more interpretable. You'll learn a number of functions you can use to take many observations in your data and summarize them, including count, group_by, summarize, ungroup, and top_n.

### Counting by region
The counties dataset contains columns for region, state, population, and the number of citizens, which we selected and saved as the counties_selected table. In this exercise, you'll focus on the region column.

In [83]:
counties_selected <- counties %>%
  select(county, region, state, population, citizens)

# Use count to find the number of counties in each region
counties_selected %>%
  count(region, sort = TRUE)

  region        n
1 South         1420
2 North Central 1054
3 West           447
4 Northeast      217

### Counting citizens by state
You can weigh your count by particular variables rather than finding the number of counties. In this case, you'll find the number of citizens in each state.

In [84]:
counties_selected <- counties %>%
  select(county, region, state, population, citizens)

# Find number of counties per state, weighted by citizens, sorted in descending order
head(counties_selected %>%
  count(state, wt = citizens, sort = TRUE))

  state        n
1 California   24280349
2 Texas        16864864
3 Florida      13933052
4 New York     13531404
5 Pennsylvania  9710416
6 Illinois      8979999

### Mutating and counting
You can combine multiple verbs together to answer increasingly complicated questions of your data. For example: "What are the US states where the most people walk to work?"

You'll use the walk column, which offers a percentage of people in each county that walk to work, to add a new column and count based on it.

In [85]:
counties_selected <- counties %>%
  select(county, region, state, population, walk)

glimpse(counties_selected)

Rows: 3,138
Columns: 5
$ county     <chr> "Autauga", "Baldwin", "Barbour", "Bibb", "Blount", "Bullock…
$ region     <chr> "South", "South", "South", "South", "South", "South", "Sout…
$ state      <chr> "Alabama", "Alabama", "Alabama", "Alabama", "Alabama", "Ala…
$ population <int> 55221, 195121, 26932, 22604, 57710, 10678, 20354, 116648, 3…
$ walk       <dbl> 0.5, 1.0, 1.8, 0.6, 0.9, 5.0, 0.8, 1.2, 0.3, 0.6, 1.1, 1.9,…

In [86]:
head(counties_selected %>%
  # Add population_walk containing the total number of people who walk to work
  mutate(population_walk = population * walk / 100) %>%
  # Count weighted by the new column, sort in descending order
  count(state, wt = population_walk, sort = TRUE))

  state         n
1 New York      1237938.2
2 California    1017963.7
3 Pennsylvania   505397.2
4 Texas          430783.4
5 Illinois       400345.6
6 Massachusetts  316765.0

### Summarizing
The summarize() verb is very useful for collapsing a large dataset into a single observation.

In [87]:
counties_selected <- counties %>%
  select(county, population, income, unemployment)

counties_selected %>%
  # Summarize to find minimum population, maximum unemployment, and average income
  summarise(min_population = min(population),
            max_unemployment = max(unemployment),
            average_income = mean(income))

  min_population max_unemployment average_income
1 85             29.4             46832

### Summarizing by state
Another interesting column is land_area, which shows the land area in square miles. Here, you'll summarize both population and land area by state, with the purpose of finding the density (in people per square miles).

In [88]:
counties_selected <- counties %>%
  select(state, county, population, land_area)

head(counties_selected %>%
  # Group by state
  group_by(state) %>%
  # Find the total area and population
  summarise(total_area = sum(land_area),
            total_population = sum(population)))

  state      total_area total_population
1 Alabama     50645.39   4830620
2 Alaska     553559.51    725461
3 Arizona    113594.09   6641928
4 Arkansas    52035.48   2958208
5 California 155779.21  38421464
6 Colorado   103641.93   5278906

In [89]:
# Add a density column with the people per square mile, then arrange in descending order
head(counties_selected %>%
  group_by(state) %>%
  summarize(total_area = sum(land_area),
            total_population = sum(population)) %>%
  # Add a density column
  mutate(density = total_population / total_area) %>%
  # Sort by density in descending order
  arrange(desc(density)))

  state         total_area total_population density
1 New Jersey    7354.22    8904413          1210.7896
2 Rhode Island  1033.82    1053661          1019.1919
3 Massachusetts 7800.08    6705586           859.6817
4 Connecticut   4842.36    3593222           742.0394
5 Maryland      9707.23    5930538           610.9403
6 Delaware      1948.55     926454           475.4582

### Summarizing by state and region
You can group by multiple columns instead of grouping by one. Here, you'll practice aggregating by state and region, and notice how useful it is for performing multiple aggregations in a row.

In [90]:
counties_selected <- counties %>%
  select(region, state, county, population)

head(counties_selected %>%
  # Group and summarize to find the total population
  group_by(region, state) %>%
    summarise(total_pop = sum(population)))

`summarise()` has grouped output by 'region'. You can override using the
`.groups` argument.

  region        state     total_pop
1 North Central Illinois  12873761
2 North Central Indiana    6568645
3 North Central Iowa       3093526
4 North Central Kansas     2892987
5 North Central Michigan   9900571
6 North Central Minnesota  5419171

In [91]:
counties_selected %>%
  # Group and summarize to find the total population
  group_by(region, state) %>%
  summarize(total_pop = sum(population)) %>%
  # Calculate the average_pop and median_pop columns
  summarise(average_pop = mean(total_pop),
            median_pop = median(total_pop))

`summarise()` has grouped output by 'region'. You can override using the
`.groups` argument.

  region        average_pop median_pop
1 North Central 5627687     5580644
2 Northeast     6221058     3593222
3 South         7370486     4804098
4 West          5722755     2798636

### Selecting a county from each region
Previously, you used the walk column, which offers a percentage of people in each county that walk to work, to add a new column and count to find the total number of people who walk to work in each county.

Now, you're interested in finding the county within each region with the highest percentage of citizens who walk to work.

In [92]:
counties_selected <- counties %>%
  select(region, state, county, metro, population, walk)

counties_selected %>%
  # Group by region
  group_by(region) %>%
  # Find the county with the highest percentage of people who walk to work
  slice_max(walk, n = 1)

  region        state        county                 metro    population walk
1 North Central North Dakota McIntosh               Nonmetro    2759    17.5
2 Northeast     New York     New York               Metro    1629507    20.7
3 South         Virginia     Lexington city         Nonmetro    7071    31.7
4 West          Alaska       Aleutians East Borough Nonmetro    3304    71.2

### Finding the lowest-income state in each region
You've been learning to combine multiple dplyr verbs together. Here, you'll combine group_by(), summarize(), and slice_min() to find the state in each region with the highest income.

When you group by multiple columns and then summarize, it's important to remember that the summarize "peels off" one of the groups, but leaves the rest on. For example, if you group_by(X, Y) then summarize, the result will still be grouped by X.

In [93]:
counties_selected <- counties %>%
  select(region, state, county, population, income)

counties_selected %>%
  group_by(region, state) %>%
  # Calculate average income
  summarise(average_income = mean(income)) %>%
  # Find the lowest income state in each region
  slice_min(average_income, n = 1)

`summarise()` has grouped output by 'region'. You can override using the
`.groups` argument.

  region        state       average_income
1 North Central Missouri    41755.40
2 Northeast     Maine       46141.75
3 South         Mississippi 34938.93
4 West          New Mexico  40183.67

### Using summarize, slice_max, and count together
In this chapter, you've learned to use six dplyr verbs related to aggregation: count(), group_by(), summarize(), ungroup(), slice_max(), and slice_min(). In this exercise, you'll combine them to answer a question:

In how many states do more people live in metro areas than non-metro areas?

Recall that the metro column has one of the two values "Metro" (for high-density city areas) or "Nonmetro" (for suburban and country areas).

In [94]:
counties_selected <- counties %>%
  select(state, metro, population)

head(counties_selected %>%
  # Find the total population for each combination of state and metro
  group_by(state, metro) %>%
    summarise(total_pop = sum(population)))

`summarise()` has grouped output by 'state'. You can override using the
`.groups` argument.

  state   metro    total_pop
1 Alabama Metro    3671377
2 Alabama Nonmetro 1159243
3 Alaska  Metro     494990
4 Alaska  Nonmetro  230471
5 Arizona Metro    6295145
6 Arizona Nonmetro  346783

In [95]:
head(counties_selected %>%
  # Find the total population for each combination of state and metro
  group_by(state, metro) %>%
  summarize(total_pop = sum(population)) %>%
  # Extract the most populated row for each state
  slice_max(total_pop, n = 1))

`summarise()` has grouped output by 'state'. You can override using the
`.groups` argument.

  state      metro total_pop
1 Alabama    Metro  3671377
2 Alaska     Metro   494990
3 Arizona    Metro  6295145
4 Arkansas   Metro  1806867
5 California Metro 37587429
6 Colorado   Metro  4590896

In [96]:
counties_selected %>%
  # Find the total population for each combination of state and metro
  group_by(state, metro) %>%
  summarize(total_pop = sum(population)) %>%
  # Extract the most populated row for each state
  slice_max(total_pop, n = 1) %>%
  # Count the states with more people in Metro or Nonmetro areas
  ungroup(state) %>%
    count(metro)

`summarise()` has grouped output by 'state'. You can override using the
`.groups` argument.

  metro    n
1 Metro    44
2 Nonmetro  6

## **Selecting and Transforming Data**
Learn advanced methods to select and transform columns. Also learn about select helpers, which are functions that specify criteria for columns you want to choose, as well as the rename and transmute verbs.

### Selecting columns
Using the select() verb, we can answer interesting questions about our dataset by focusing in on related groups of verbs. The colon (:) is useful for getting many columns at a time.

In [97]:
# Glimpse the counties table
glimpse(counties)

Rows: 3,138
Columns: 40
$ census_id          <int> 1001, 1003, 1005, 1007, 1009, 1011, 1013, 1015, 101…
$ state              <chr> "Alabama", "Alabama", "Alabama", "Alabama", "Alabam…
$ county             <chr> "Autauga", "Baldwin", "Barbour", "Bibb", "Blount", …
$ region             <chr> "South", "South", "South", "South", "South", "South…
$ metro              <chr> "Metro", "Metro", "Nonmetro", "Metro", "Metro", "No…
$ population         <int> 55221, 195121, 26932, 22604, 57710, 10678, 20354, 1…
$ men                <int> 26745, 95314, 14497, 12073, 28512, 5660, 9502, 5627…
$ women              <int> 28476, 99807, 12435, 10531, 29198, 5018, 10852, 603…
$ hispanic           <dbl> 2.6, 4.5, 4.6, 2.2, 8.6, 4.4, 1.2, 3.5, 0.4, 1.5, 7…
$ white              <dbl> 75.8, 83.1, 46.2, 74.5, 87.9, 22.2, 53.3, 73.0, 57.…
$ black              <dbl> 18.5, 9.5, 46.7, 21.4, 1.5, 70.7, 43.8, 20.3, 40.3,…
$ native             <dbl> 0.4, 0.6, 0.2, 0.4, 0.3, 1.2, 0.1, 0.2, 0.2, 0.6, 0…
$ asian              <dbl> 1.0, 0.7, 0.4, 0.1, 0.1, 0.2, 0.4, 0.9, 0.8, 0.3, 0…
$ pacific            <dbl> 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0…
$ citizens           <int> 40725, 147695, 20714, 17495, 42345, 8057, 15581, 88…
$ income             <int> 51281, 50254, 32964, 38678, 45813, 31938, 32229, 41…
$ income_err         <int> 2391, 1263, 2973, 3995, 3141, 5884, 1793, 925, 2949…
$ income_per_cap     <int> 24974, 27317, 16824, 18431, 20532, 17580, 18390, 21…
$ income_per_cap_err <int> 1080, 711, 798, 1618, 708, 2055, 714, 489, 1366, 15…
$ poverty            <dbl> 12.9, 13.4, 26.7, 16.8, 16.7, 24.6, 25.4, 20.5, 21.…
$ child_poverty      <dbl> 18.6, 19.2, 45.3, 27.9, 27.2, 38.4, 39.2, 31.6, 37.…
$ professional       <dbl> 33.2, 33.1, 26.8, 21.5, 28.5, 18.8, 27.5, 27.3, 23.…
$ service            <dbl> 17.0, 17.7, 16.1, 17.9, 14.1, 15.0, 16.6, 17.7, 14.…
$ office             <dbl> 24.2, 27.1, 23.1, 17.8, 23.9, 19.7, 21.9, 24.2, 26.…
$ construction       <dbl> 8.6, 10.8, 10.8, 19.0, 13.5, 20.1, 10.3, 10.5, 11.5…
$ production         <dbl> 17.1, 11.2, 23.1, 23.7, 19.9, 26.4, 23.7, 20.4, 24.…
$ drive              <dbl> 87.5, 84.7, 83.8, 83.2, 84.9, 74.9, 84.5, 85.3, 85.…
$ carpool            <dbl> 8.8, 8.8, 10.9, 13.5, 11.2, 14.9, 12.4, 9.4, 11.9, …
$ transit            <dbl> 0.1, 0.1, 0.4, 0.5, 0.4, 0.7, 0.0, 0.2, 0.2, 0.2, 0…
$ walk               <dbl> 0.5, 1.0, 1.8, 0.6, 0.9, 5.0, 0.8, 1.2, 0.3, 0.6, 1…
$ other_transp       <dbl> 1.3, 1.4, 1.5, 1.5, 0.4, 1.7, 0.6, 1.2, 0.4, 0.7, 1…
$ work_at_home       <dbl> 1.8, 3.9, 1.6, 0.7, 2.3, 2.8, 1.7, 2.7, 2.1, 2.5, 1…
$ mean_commute       <dbl> 26.5, 26.4, 24.1, 28.8, 34.9, 27.5, 24.6, 24.1, 25.…
$ employed           <int> 23986, 85953, 8597, 8294, 22189, 3865, 7813, 47401,…
$ private_work       <dbl> 73.6, 81.5, 71.8, 76.8, 82.0, 79.5, 77.4, 74.1, 85.…
$ public_work        <dbl> 20.9, 12.3, 20.8, 16.1, 13.5, 15.1, 16.2, 20.8, 12.…
$ self_employed      <dbl> 5.5, 5.8, 7.3, 6.7, 4.2, 5.4, 6.2, 5.0, 2.8, 7.9, 4…
$ family_work        <dbl> 0.0, 0.4, 0.1, 0.4, 0.4, 0.0, 0.2, 0.1, 0.0, 0.5, 0…
$ unemployment       <dbl> 7.6, 7.5, 17.6, 8.3, 7.7, 18.0, 10.9, 12.3, 8.9, 7.…
$ land_area          <dbl> 594.44, 1589.78, 884.88, 622.58, 644.78, 622.81, 77…

In [98]:
head(counties %>%
  # Select state, county, population, and industry-related columns
  select(state, county, population, professional:production) %>%
  # Arrange service in descending order
  arrange(desc(service)))

  state       county  population professional service office construction
1 Mississippi Tunica    10477    23.9         36.6    21.5    3.5
2 Texas       Kinney     3577    30.0         36.5    11.6   20.5
3 Texas       Kenedy      565    24.9         34.1    20.5   20.5
4 New York    Bronx   1428357    24.3         33.3    24.2    7.1
5 Texas       Brooks     7221    19.6         32.4    25.3   11.1
6 Colorado    Fremont   46809    26.6         32.2    22.8   10.7
  production
1 14.5
2  1.3
3  0.0
4 11.0
5 11.5
6  7.6

### Select helpers
In the video you learned about the select helper starts_with(). Another select helper is ends_with(), which finds the columns that end with a particular string.

In [99]:
counties %>%
  # Select the state, county, population, and those ending with "work"
  select(state, county, population, ends_with("work")) %>%
  # Filter for counties that have at least 50% of people engaged in public work
  filter(public_work > 50)

  state        county                     population private_work public_work
1 Alaska       Lake and Peninsula Borough  1474      42.2         51.6
2 Alaska       Yukon-Koyukuk Census Area   5644      33.3         61.7
3 California   Lassen                     32645      42.6         50.5
4 Hawaii       Kalawao                       85      25.0         64.1
5 North Dakota Sioux                       4380      32.9         56.8
6 South Dakota Todd                        9942      34.4         55.0
7 Wisconsin    Menominee                   4451      36.8         59.1
  family_work
1 0.2
2 0.0
3 0.1
4 0.0
5 0.1
6 0.8
7 0.4

### Renaming a column after count
The rename() verb is often useful for changing the name of a column that comes out of another verb, such as count(). In this exercise, you'll rename the default n column generated from count() to something more descriptive.

In [100]:
head(counties %>%
  # Count the number of counties in each state
  count(state))

  state      n
1 Alabama    67
2 Alaska     28
3 Arizona    15
4 Arkansas   75
5 California 58
6 Colorado   64

In [101]:
head(counties %>%
  # Count the number of counties in each state
  count(state) %>%
  # Rename the n column to num_counties
  rename(num_counties = n))

  state      num_counties
1 Alabama    67
2 Alaska     28
3 Arizona    15
4 Arkansas   75
5 California 58
6 Colorado   64

### Renaming a column as part of a select
rename() isn't the only way you can choose a new name for a column; you can also choose a name as part of a select().

In [102]:
head(counties %>%
  # Select state, county, and poverty as poverty_rate
  select(state, county, poverty_rate = poverty))

  state   county  poverty_rate
1 Alabama Autauga 12.9
2 Alabama Baldwin 13.4
3 Alabama Barbour 26.7
4 Alabama Bibb    16.8
5 Alabama Blount  16.7
6 Alabama Bullock 24.6

### Summary


```
                    | keeps only specificed vars. | Keeps other vars.
-----------------------------------------------------------------------
Can't change values |            select()         |       rename()
-----------------------------------------------------------------------
Can change values   |          transmute()        |       mutate()

```

### Using transmute
As you learned in the video, the transmute verb allows you to control which variables you keep, which variables you calculate, and which variables you drop.

In [103]:
head(counties %>%
  # Keep the state, county, and populations columns, and add a density column
  transmute(state, county, population, density = population / land_area) %>%
  # Filter for counties with a population greater than one million
  filter(population > 1000000) %>%
  # Sort density in ascending order
  arrange(density))

  state      county         population density
1 California San Bernardino 2094769    104.4411
2 Nevada     Clark          2035572    257.9472
3 California Riverside      2298032    318.8841
4 Arizona    Maricopa       4018143    436.7480
5 Florida    Palm Beach     1378806    699.9868
6 California San Diego      3223096    766.1943

### Choosing among the four verbs
In this chapter you've learned about the four verbs: select, mutate, transmute, and rename. Here, you'll choose the appropriate verb for each situation. You won't need to change anything inside the parentheses.

In [104]:
# Change the name of the unemployment column
head(counties %>%
  rename(unemployment_rate = unemployment) )

  census_id state   county  region metro    population men   women hispanic
1 1001      Alabama Autauga South  Metro     55221     26745 28476 2.6
2 1003      Alabama Baldwin South  Metro    195121     95314 99807 4.5
3 1005      Alabama Barbour South  Nonmetro  26932     14497 12435 4.6
4 1007      Alabama Bibb    South  Metro     22604     12073 10531 2.2
5 1009      Alabama Blount  South  Metro     57710     28512 29198 8.6
6 1011      Alabama Bullock South  Nonmetro  10678      5660  5018 4.4
  white ⋯ other_transp work_at_home mean_commute employed private_work
1 75.8  ⋯ 1.3          1.8          26.5         23986    73.6
2 83.1  ⋯ 1.4          3.9          26.4         85953    81.5
3 46.2  ⋯ 1.5          1.6          24.1          8597    71.8
4 74.5  ⋯ 1.5          0.7          28.8          8294    76.8
5 87.9  ⋯ 0.4          2.3          34.9         22189    82.0
6 22.2  ⋯ 1.7          2.8          27.5          3865    79.5
  public_work self_employed family_work unemployment_rate land_area
1 20.9        5.5           0.0          7.6               594.44
2 12.3        5.8           0.4          7.5              1589.78
3 20.8        7.3           0.1         17.6               884.88
4 16.1        6.7           0.4          8.3               622.58
5 13.5        4.2           0.4          7.7               644.78
6 15.1        5.4           0.0         18.0               622.81

In [105]:
# Keep the state and county columns, and the columns containing poverty
head(counties %>%
  select(state, county, contains("poverty")) )

  state   county  poverty child_poverty
1 Alabama Autauga 12.9    18.6
2 Alabama Baldwin 13.4    19.2
3 Alabama Barbour 26.7    45.3
4 Alabama Bibb    16.8    27.9
5 Alabama Blount  16.7    27.2
6 Alabama Bullock 24.6    38.4

In [106]:
# Calculate the fraction_women column without dropping the other columns
head(counties %>%
  select(state, county, contains("poverty")))

  state   county  poverty child_poverty
1 Alabama Autauga 12.9    18.6
2 Alabama Baldwin 13.4    19.2
3 Alabama Barbour 26.7    45.3
4 Alabama Bibb    16.8    27.9
5 Alabama Blount  16.7    27.2
6 Alabama Bullock 24.6    38.4

In [107]:
# Keep only the state, county, and employment_rate columns
head(counties %>%
  transmute(state, county, employment_rate = employed / population))

  state   county  employment_rate
1 Alabama Autauga 0.4343637
2 Alabama Baldwin 0.4405113
3 Alabama Barbour 0.3192113
4 Alabama Bibb    0.3669262
5 Alabama Blount  0.3844914
6 Alabama Bullock 0.3619592

## **Case Study: The babynames Dataset**
Work with a new dataset that represents the names of babies born in the United States each year. Learn how to use grouped mutates and window functions to ask and answer more complex questions about your data. And use a combination of dplyr and ggplot2 to make interesting graphs to further explore your data.

In [108]:
# https://www.rdocumentation.org/packages/babynames/versions/1.0.0

glimpse(babynames)

Rows: 1,924,665
Columns: 3
$ year   <dbl> 1880, 1880, 1880, 1880, 1880, 1880, 1880, 1880, 1880, 1880, 188…
$ name   <chr> "Mary", "Anna", "Emma", "Elizabeth", "Minnie", "Margaret", "Ida…
$ number <int> 7065, 2604, 2003, 1939, 1746, 1578, 1472, 1414, 1320, 1288, 125…

In [109]:
# Update data to mirror datacamp
babynames <- babynames %>%
  select(year, name, n) %>%
  rename(number = n)

ERROR: ignored

### Filtering and arranging for one year
The dplyr verbs you've learned are useful for exploring data. For instance, you could find out the most common names in a particular year.

In [ ]:
head(babynames %>%
  # Filter for the year 1990
  filter(year == 1990) %>%
  # Sort the number column in descending order
  arrange(desc(number)))

### Finding the most popular names each year
You saw that you could use filter() and arrange() to find the most common names in one year. However, you could also use group_by() and slice_max() to find the most common name in every year.

In [ ]:
head(babynames %>%
  # Find the most common name in each year
  group_by(year) %>%
  slice_max(number, n = 1))

### Visualizing names with ggplot2
The dplyr package is very useful for exploring data, but it's especially useful when combined with other tidyverse packages like ggplot2.

In [ ]:
head(selected_names <- babynames %>%
  # Filter for the names Steven, Thomas, and Matthew
  filter(name %in% c("Steven", "Thomas", "Matthew")))

In [ ]:
# Plot the names using a different color for each name
ggplot(selected_names, aes(x = year, y = number, color = name)) +
  geom_line()

### Finding the year each name is most common
In an earlier video, you learned how to filter for a particular name to determine the frequency of that name over time. Now, you're going to explore which year each name was the most common.

To do this, you'll be combining the grouped mutate approach with a slice_max().

In [ ]:
# Calculate the fraction of people born each year with the same name
head(babynames %>%
  group_by(year) %>%
  mutate(year_total = sum(number)) %>%
  ungroup(year) %>%
  mutate(fraction = number / year_total))

In [ ]:
# Calculate the fraction of people born each year with the same name
head(babynames %>%
  group_by(year) %>%
  mutate(year_total = sum(number)) %>%
  ungroup() %>%
  mutate(fraction = number / year_total) %>%
  # Find the year each name is most common
  group_by(name) %>%
  slice_max(fraction, n = 1))

### Adding the total and maximum for each name
In the video, you learned how you could group by the year and use mutate() to add a total for that year.

In these exercises, you'll learn to normalize by a different, but also interesting metric: you'll divide each name by the maximum for that name. This means that every name will peak at 1.

Once you add new columns, the result will still be grouped by name. This splits it into 48,000 groups, which actually makes later steps like mutates slower.

In [ ]:
head(babynames %>%
  # Add columns name_total and name_max for each name
  group_by(name) %>%
  mutate(name_total = sum(number), name_max = max(number)))

In [ ]:
head(babynames %>%
  # Add columns name_total and name_max for each name
  group_by(name) %>%
  mutate(name_total = sum(number),
         name_max = max(number)) %>%
  # Ungroup the table
  ungroup() %>%
  # Add the fraction_max column containing the number by the name maximum
  mutate(fraction_max = number / name_max))

### Visualizing the normalized change in popularity
You picked a few names and calculated each of them as a fraction of their peak. This is a type of "normalizing" a name, where you're focused on the relative change within each name rather than the overall popularity of the name.

In this exercise, you'll visualize the normalized popularity of each name. Your work from the previous exercise, names_normalized, has been provided for you.

In [ ]:
head(names_normalized <- babynames %>%
                     group_by(name) %>%
                     mutate(name_total = sum(number),
                            name_max = max(number)) %>%
                     ungroup() %>%
                     mutate(fraction_max = number / name_max))

In [ ]:
names_filtered <- names_normalized %>%
  # Filter for the names Steven, Thomas, and Matthew
  filter(name %in% c("Steven", "Thomas", "Matthew"))

# Visualize these names over time
ggplot(names_filtered, aes(x = year, y = fraction_max, colour = name)) +
  geom_line()

### Using ratios to describe the frequency of a name
In the video, you learned how to find the difference in the frequency of a baby name between consecutive years. What if instead of finding the difference, you wanted to find the ratio?

You'll start with the babynames_fraction data already, so that you can consider the popularity of each name within each year.

In [ ]:
# Changes in popularity of a name. Create df
head(babynames_fraction <- babynames %>%
  group_by(year) %>%
  mutate(year_total = sum(number)) %>%
  ungroup() %>%
  mutate(fraction = number /year_total))

In [ ]:
# Matthew
head(babynames_fraction %>%
  filter(name == "Matthew") %>%
  arrange(year))

In [ ]:
# Matthew over time
head(babynames_fraction %>%
  filter(name == "Matthew") %>%
  arrange(year) %>%
  mutate(difference = fraction - lag(fraction)))

In [ ]:
# Biggest jump in popularity
head(babynames_fraction %>%
  filter(name == "Matthew") %>%
  arrange(year) %>%
  mutate(difference = fraction - lag(fraction)) %>%
  arrange(desc(difference)))

In [ ]:
# Changes within every name
head(babynames_fraction %>%
  arrange(name, year) %>%
  mutate(difference = fraction - lag(fraction)) %>%
  ungroup() %>%
  arrange(desc(difference)), 20)

In [ ]:
head(babynames_fraction %>%
  # Arrange the data in order of name, then year
  arrange(name, year) %>%
  # Group the data by name
  group_by(name) %>%
  # Add a ratio column that contains the ratio of fraction between each year
  mutate(ratio = fraction / lag(fraction)), 10)

### Biggest jumps in a name
Previously, you added a ratio column to describe the ratio of the frequency of a baby name between consecutive years to describe the changes in the popularity of a name. Now, you'll look at a subset of that data, called babynames_ratios_filtered, to look further into the names that experienced the biggest jumps in popularity in consecutive years.

In [ ]:
babynames_ratios_filtered <- babynames_fraction %>%
                     arrange(name, year) %>%
                     group_by(name) %>%
                     mutate(ratio = fraction / lag(fraction)) %>%
                     filter(fraction >= 0.00001)

glimpse(babynames_ratios_filtered)

In [ ]:
head(babynames_ratios_filtered %>%
  # Extract the largest ratio from each name
  slice_max(ratio, n = 1) %>%
  # Sort the ratio column in descending order
  arrange(desc(ratio)) %>%
  # Filter for fractions greater than or equal to 0.001
  filter(fraction >= 0.001), 10)